body{
    background-color: #f4f4f4
    font-family: Ariel,sans-serif;
}

h1{
    color: navy;
    text-align: center;
    margin-top: 20px
}

p{
    font-size: 18px;
}
.nav-link{
    margin-right: 15px;
}
.card{
    margin-top: 20px;
}
#special {
    font-weight: bold;
    color: darkred;
}
